{% extends 'base/base.html' %}
{% block title %}Alterar a senha{% endblock %}
{% block content %}
{% if validlink %}
<form method="post">{% csrf_token %}
    <fieldset>
        <legend>Login</legend>
        {{ form }}
        <button type="submit">Acessar</button>
    </fieldset>
</form>
{% else %}
<h1 class="title">A alteração de senha falhou</h1>
<p>O link utilizado para alteação da senha é <b>invalido</b>.</p>
<p>Isso ocorreu porque esse link já foi usado.</p>
<p>Solicite uma nova redefinição de senha.</p>
{% endif %}
{% endblock %}